@model User
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">SHA-256 Adresi</th>
            <th scope="col">Tam ismi</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Coin Hesabı</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">@Model.Id</td>
            <td scope="row">@Model.Identity</td>
            <td scope="row">@Model.FullName</td>
            <td scope="row">@Model.UserName</td>
            <td scope="row">@Model.RecycleCoinAccount</td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

